* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    /*height: 100vh;*/
    min-height: 100vh;
    min-height: -webkit-fill-available;
    scroll-padding-top: 8vmax;
    scroll-behavior: smooth;
    background-color: black;
}

h1 {
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3vmax;
}
p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vmax;
}
strong {
    font-weight: 700;
}
a {
    outline: none;
    color: #006d77;
    text-decoration: none;
    padding: 2px 1px 0;
    font-style: italic;
}
a:visited {
    color: #437A16;
}
a:focus {
background: #BAE498;
}
a:hover {
background: #CDFEAA;
}
.link a[href^="http"]::after,
.link a[href^="https://"]::after {
    content: "";
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

/* LANDING SECTION */
section#landing {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(black, rgb(0,192,255));
    background-position: bottom;
    background-size: 100%, 100%;
    overflow: hidden;
}
.logo {
    position: relative;
    z-index: 50;
    width: fit-content;
    padding: 25px;
}
.logo a:hover {
    background-color: inherit;
}
.title {
    position: absolute;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 100;
    width: 100%;
    top: 50%;
    padding-left: 5%;
    padding-right: 5%;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
}
.sentinel {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 10;
    top: 100px;
    right: 10px;
    animation: orbit 6s;
    animation-direction: alternate;
}
@keyframes orbit {
    100% {
      transform: translate(0, 0) scale(1,1);
    }
    0% {
      transform: translate(-500%, 100%) scale(0.1,0.1) rotate(-50deg);
    }
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(../img/wave.png);
    background-size: 1000px 200px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 800px;
}
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: 400px;
}
.wave#wave3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    background-position-x: 100px;
}
@keyframes animate {
    0%,100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}
section.intro {
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;

    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;
    background-size: cover;
}
section.sunset {
    background-image: linear-gradient(rgb(221,164,72), rgb(148,55,77));
}
section.ocean {
    background-image: linear-gradient(black, rgb(0,192,255));
}

/* IMG SECTIONS */
#img_patch {
	height: 700px;
    background-image: url("../img/img_plastic02.jpg");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px) {
	#img_patch {
		background-attachment: inherit;
	}
}
@media screen and (min-width: 768px) and (max-width: 1280px){
	#img_patch {
		background-attachment: inherit;
	}
}
#img_micro {
	height: 700px;
    background-image: url("../img/img_plastic03.jpg");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px) {
	#img_micro {
		background-attachment: inherit;
	}
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
	#img_micro {
		background-attachment: inherit;
	}
}
#img_beach {
	height: 500px;
    background-image: url("../img/img_plastic06.jpg");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px) {
	#img_beach {
		background-attachment: inherit;
        margin-top: 2rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
	#img_beach {
		background-attachment: inherit;
	}
}
.credit {
    position: relative;
    top: 0;
    text-align: left;
    color: #fff;
    font-size: small;
}
#MLlogo {
    position: relative;
    top: 0;
    max-width: fit-content;
    z-index: 50;
}
figure {
    text-align: center;
}
.figure-caption {
    font-size: 1.5vmax;
    color: rgb(148,55,77);
}

/* PORTFOLIO */
.button {
    background: none !important;
    border: none;
    /*padding: 10px !important;*/
    color: rgb(148,55,77);
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 3vmax;
    padding-right: 3vmax;
    padding-bottom: 6vmax;
    z-index: 1;
    background-image: linear-gradient(black, rgb(0,192,255));
    background-repeat: repeat-x;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
.wrapper h1 {
    font-size: 3vmax;
    color: #006d77;
}
.wrapper h2 {
    font-variant-caps: small-caps;
    font-size: 2vmax;
    letter-spacing: 0.1em;
    text-align: left;
    padding-bottom: 2vmax;
    color: #341c1c;
}
.wrapper p {
    color: #111;
    font-size: 1.5vmax;
}
.img-div {
    text-align: center;
}
.outer {
    position: relative;
    background: #a8e9ff;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
}
.weblink a {
    float: right;
    padding-right: 4ch;
    color: rgb(148,55,77);
    font-size: 1.5vmax;
    font-style: normal;
}
.weblink a:hover {
    background-color: inherit;
}
.weblink i {
    font-size: 3vmax !important;
}
#reg_container {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
#download {
    width: 33vw;
    font-size: 3vw;
}
.content {
    display: flex;
    flex-direction: column;
    padding-left: 5ch;
    padding-right: 5ch;
    text-align: justify;
    font-size: 1.25vmax;
}
.content ul {
    padding-left: 5ch;
    padding-right: 5ch;
}
.content li {
    font-size: 1.5vmax;
    color: black;
}
.comment {
    padding-left: 8ch;
    padding-right: 8ch;
    padding-top: 5em;
    text-align: justify;
    justify-content: center;
    align-content: center;
}
.comment p {
    font-size: 2vmax;
    color: white;
}
.lead {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.lead p {
    color: rgb(194,234,189);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vmax;
}
[id]::before {
    content: '';
    display: block;
    height:      75px;
    margin-top: -75px;
    visibility: hidden;
}
.attribution {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.attribution a:hover {
    background-color: inherit;
}
/* FOOTER */
section#footer {
    position: relative;
    width: 100%;
    height: 30vh;
    padding-top: 2em;
    background: #050505;
}
#footer p {
    font-size: 1vmax;
}
#footer a:hover {
    background-color: inherit;
    color: yellow;
}
#contact a {
    color: white;
}
.footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.social-buttons,
.social-buttons li {
	display: flex;
	padding: 0;
	margin: 0;
}
.social-buttons {
	width: 100%;
	list-style: none;
	flex-wrap: wrap;
}
.social-buttons li {
	flex-basis: 25%;
	flex-shrink: 0;
	flex-grow: 1;
}
.social-buttons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: .5em 1em;
	font-weight: 500;
	text-decoration: none;
	color: #FFF;
}
.social-buttons i {
	margin-right: .5em;
}
.social-buttons [href*="twitter.com"] {
	background: #1da1f2;
}
.social-buttons [href*="facebook.com"] {
	background: #3b5998;
}
.social-buttons [href*="instagram.com"] {
	background: #c13584;
}
.social-buttons [href*="weibo.com"] {
	background: #e6162d;
}
.social-buttons [href*="linkedin.com"] {
	background: #0077b5;
}
.social-buttons .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.social-buttons .fa:hover {
    opacity: 0.7;
}
.social-buttons .fa {
    padding: 5px;
    font-size: 20px;
    width: 10px;
    text-align: center;
    text-decoration: none;
}
#bottombar {
    position: relative;
    padding: 1vh 5%;
    width: 100%;
    height: 100%;
    background: #221f1f;
}
#bottombar ul::before {
    content:"Privacy Policy  |  Disclaimer  | Copyright";
    margin: 1px auto 1px 1px;
    visibility: hidden;
    padding: 5px;
}
#bottombar li:last-child {
    margin-left: auto;
}
#bottombar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#bottombar li {
    display: flex;
    margin: 1px;
    padding: 5px;
    color: #fff;
}
#bottombar img {
    height: 20%;
}
#bottombar p {
    text-align: center;
    margin-top: 0;
}
#bottombar a {
    color: white;
    font-style: normal;
}
#bottombar a:hover {
    background-color: inherit;
}
.panel-default {
    margin-top: 1vh;
    padding: 1vh 10%;
}
.panel-default h2 {
    font-size: 1.5vmax;
    font-style: normal;
    color: rgb(0,192,255);
}
.panel-default p {
    padding-left: 2%;
    padding-right: 2%;
}
.panel-default ul {
    padding-left: 5%;
}
.panel-default li {
    color: white;
    font-size: 1vmax;
}
.close {
    position: relative;
    padding-right: 10%;
    text-align: right;
    width: 100%;
}
/* NAVBAR */
.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-image {
    display: block;
    height: 48px
}
.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.menu-item {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
}
.selected {
    background-color: #a8e9ff;
    transition: 0.3 ease background-color;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    box-shadow: 5px 5px 7px #888;
    -webkit-box-shadow: 5px 5px 7px #888;
    -moz-box-shadow: 5px 5px 7px #888;
}
.menu-item a {
    font-style: normal;
    font-size: 1vmax;
}
.menu-item a:hover {
    background-color: inherit;
    color: black;
}
.bar {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 4px auto;
}
.menu-icon {
    display: none;
}

/* MOBILE PHONES */
@media only screen
and (min-width: 320px) {

}
@media only screen
and (min-width: 320px)
and (max-width: 979px) {
    .navbar {
        flex-direction: column;
    }
    .logo-container {
        width: 100%;
    }
    .logo-image {
        display: none;
    }
    .nav-menu {
        display: none;
        width: 100%;
    }
    .active {
        display: block;
    }
    .menu-item {
        display: block;
        width: 100%;
        padding: 5px 0;
        text-align: center;
    }
    .menu-item a {
        font-size: 2rem;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 5%;
    }
    .menu-icon:hover .bar {
        background-color: darkcyan;
    }
    .intro {
        padding-top: 100px;
        padding-bottom: 100px
    }
    .intro h1 {
        font-size: 5vmax;
    }
    .intro p {
        font-size: 4vmax;
    }
    .wrapper h2 {
        font-size: 2.5vmax;
    }
    .content p {
        font-size: 16px;
        text-align: left;
    }
    .content li {
        font-size: 14px;
        text-align: left;
    }
    .comment {
        padding-left: 1ch;
        padding-right: 1ch;
        padding-top: 5em;
        text-align: center;
    }
    .comment p {
        font-size: 20px;
    }
    .lead {
        padding-left: 1ch;
        padding-right: 1ch;
        padding-top: 2em;
        text-align: center;
    }
    .lead p {
        font-size: 24px;
    }
    #footer p {
        font-size: 2.5vmax;
    }
    #footer h1 {
        font-size: 5vmax;
    }
    #iso9001 {
        margin-bottom: 2rem;
    }
    #bottombar ul {
        flex-direction: column;
    }
    #bottombar li:last-child {
        margin-left: auto;
        margin-right: auto;
    }
    .panel-default h2 {
        font-size: 2.5vmax;
        font-style: normal;
        color: rgb(0,192,255);
    }
    .panel-default p {
        font-size: 16px;
    }
    .panel-default li {
        font-size: 14px;
    }
}
/* TABLETS */
@media only screen
and (min-width: 768px) {
    #footer h1 {
        font-size: 3vmax;
    }
    #footer p {
        font-size: 1.25vmax;
    }
}
@media only screen
and (min-width: 979px) {
    #footer p {
        font-size: 2vmax;
    }
}
/* MONITORS */
@media only screen
and (min-width: 1024px) {
    .intro h1 {
        font-size: 7vmax;
    }
    #footer p {
        font-size: 1vmax;
    }
    .menu-item a {
        font-style: normal;
        font-size: 1.25vmax;
    }
}
@media only screen
and (min-width: 1024px)
and (orientation: portrait) {
    .menu-item a {
        font-size: 1rem;
    }
}